* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-weight: 300; 
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}


img {
    border-radius: 100px;
    padding: 0;
    margin: 25px 0px 20px 0px;
    height: 100px;
}

h2 {
    font-weight: 500;
    padding-bottom: 8px;
    font-size: 23px;
}

.location {
    font-size: 11px;
    font-weight: 200;
    color: hsl(75, 94%, 57%);
    padding-bottom: 10px;
}

.bio {
    padding: 10px 0px 8px 0px;
    font-size: 14px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 380px; 
    height: 620px;
    background-color:  hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    align-items: center;
    text-align: center;
    padding: 1em 0;
    line-height: 25px;
    margin: 10rem auto;
    border-radius: 13px;
}

.github, .frontend, .linkedin, .twitter, .instagram {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 300px;
    height: 45px;
    background-color:hsl(0, 0%, 20%);
    font-weight: 300px;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    margin: 15px auto;
}

h4 {
   padding-top: 10px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 85%;
        padding: 0;
        margin: 50px auto;
        height: 600px;
    }
}